* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 16px;
	min-height: 100%;
}

ul,
li,
ol {
	list-style-type: none;
	// margin: 0px;
	// padding: 0px;
}
a{
	text-decoration: none;
}
//====================
.link{
	text-decoration: none;
}
.btn{

}
//====================
body {
	font-family: OpenSans, OpenSans-Italic;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}
//========= generic color font =================
$primary_color: #ffffff;;
$secondary_color: #111111;
//=============================================