.header {
	width: 100%;
	position: fixed;
	z-index: 22;
	left: 0px;
	top: 0px;
	background-color: #000000;

	// .header__inner

	&__inner {
		padding: 15px 0px;
		display: flex;
		align-items: center;
	}

	// .header__phone

	&__phone {
		margin-left: auto;
		color: $primary_color;
		// border: red solid 1px;
		// background: url('@img/call_FILL0_wght400_GRAD0_opsz48.svg')0 0px/contain no-repeat;
	}
}

.menu {
	max-width: 100%;
	// border: red solid 1px;
	// .menu__list

	&__list {
		display: flex;
		// justify-content: space-between;
		// border: rgb(0, 81, 255) solid 2px;
	}

	// .menu__list-item

	&__list-item {
		padding: 0px 20px;
		transition: all 0.3s ease-in-out;
		&:hover {
			// border-bottom: $primary_color solid 1px;
		}

		// border: rgb(0, 255, 13) solid 1px;

	}

	// .menu__list-link

	&__list-link {
		color: #ffff;
		font-weight: 400;
		letter-spacing: 1.3px;
		padding: 0px 4px;
		transition: all 0.3s ease-in-out;
		&:hover{
			border-bottom: $primary_color solid 1px;
		}
		
	}
}
// a {
// 	color: #ffff;
// 	background-image: linear-gradient(
// 	  to right,
// 	  #54b3d6,
// 	  #54b3d6 50%,
// 	  #000 50%
// 	);
// 	background-size: 200% 100%;
// 	background-position: -100%;
// 	display: inline-block;
// 	padding: 5px 0;
// 	position: relative;
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	transition: all 0.3s ease-in-out;
//   }
  
//   a:before{
// 	content: '';
// 	background: #54b3d6;
// 	display: block;
// 	position: absolute;
// 	bottom: -3px;
// 	left: 0;
// 	width: 0;
// 	height: 3px;
// 	transition: all 0.3s ease-in-out;
//   }
  
//   a:hover {
//    background-position: 0;
//   }
  
//   a:hover::before{
// 	width: 100%;
//   }
